/* Here We Can Adding Some CSS For The Main Sections ::  */

.cartBox{
    transition: 2s;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 900px;
    height: 600px;
    background-image: url(/Images/cart.jpg);
    background-size: 920px 620px;
    margin: 60px 10px 10px 400px;
}

.cartImg{
    image-resolution: 900px 600px;
}