/* This Is The Utility CSS File For All Templates ::  */

*{
  padding: 0;
  margin: 0;
}

body{
  background-color: white;
  padding-top: 60px;
}


/* Adding Some CSS For Navigation Bar ::  */
header{
  background-color: rgb(45, 45, 247);
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
}

nav{
  display: flex;
}

.logo{
  display: flex;
  align-items: center;
}

.logo img{
  width: 100px;
  padding: 19px 30px 10px 60px;
}

nav ul{
  height: 60px;
  display: flex; 
  align-items: center;
  text-decoration: none;
}

nav ul li{
  list-style: none;
}

nav ul li a{
  text-decoration: none;
  color: white;
  padding: 15px;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* nav ul li a:hover{
  font-weight: bold;
} */

.searchBox{
  display: flex;
  align-items: center;
}

.searchBox i{
  cursor: pointer;
  background-color: #f0f5ff;
  width: 30px;
  font-size: 25px;
  border: none;
  height: 35px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  margin-right: 0px;
}

.searchBox input{
  background-color: #f0f5ff;
  border: none;
  outline: none;
  width: 700px;
  height: 35px;
  font-size: 20px;
  margin: 0px 20px 0px 0px;
}

.navBton{
  display: flex;
  align-items: center;
  list-style: none;
}

.navBton a{
  cursor: pointer;
  text-decoration: none;
  color: white;
  padding: 10px;
  font-size: 20px;
  margin: 0px 5px 0px 5px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* .navBton a:hover{
  font-weight: bold;
} */


/* Adding Some CSS For Footer ::  */

.fBox{
  /* background-image: url(/Images/footerBG.jpg);
  background-repeat: no-repeat; */
  background-size: 100% 500px;
  background-color: #292929;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.fBox h1{
  margin-top: 30px;
  cursor: pointer;
}

.fcBox{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 20px;
}

.ftBox{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin: 30px;
  width: 300px;
  height: auto;
  color: white;
}

.ftBox h1{
  cursor: pointer;
  margin: 10px;
  margin-left: 0;
  margin-bottom: 20px;
  font-size: 20px;
  color: rgb(152, 151, 151);
  font-weight: lighter;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.ftBox a{
  text-decoration: none;
  color: white;
  margin: 10px;
  margin-left: 0;
  font-size: 15px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.ftBox a:hover{
  color: orange;
}

.footerText{
  font-size: 15px;
  height: 20px;
  padding: 15px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}
