/* This Is The Utility CSS File For All Templates ::  */

*{
  padding: 0;
  margin: 0;
}

body{
  background-color: white;
  padding-top: 60px;
}


/* Adding Some CSS For Navigation Bar ::  */
header{
  background-color: rgb(45, 45, 247);
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
}

nav{
  display: flex;
}

.logo{
  display: flex;
  align-items: center;
}

.logo img{
  width: 100px;
  padding: 19px 30px 10px 60px;
}

nav ul{
  height: 60px;
  display: flex; 
  align-items: center;
  text-decoration: none;
}

nav ul li{
  list-style: none;
}

nav ul li a{
  text-decoration: none;
  color: white;
  padding: 15px;
  font-size: 20px;
}

nav ul li a:hover{
  font-weight: bold;
}

.searchBox{
  display: flex;
  align-items: center;
}

.searchBox input{
  border-radius: 5px;
  background-color: #f0f5ff;
  border: none;
  width: 600px;
  height: 35px;
  font-size: 20px;
  margin: 0px 5px 0px 30px;
}

.bton{
  border-radius: 5px;
  height: 35px;
  width: 90px;
  background-color: white;
  border: none;
  color: black;
  cursor: pointer;
  font-size: 20px;
  margin: 10px 40px 10px 0px;
}

.bton:hover{
  background-color: black;
  color: white;
}

.navBton{
  display: flex;
  align-items: center;
  list-style: none;
}

.navBton a{
  cursor: pointer;
  text-decoration: none;
  color: white;
  padding: 10px;
  font-size: 20px;
  margin: 0px 10px 0px 10px;
}

.navBton a:hover{
  font-weight: bold;
}


/* Adding Some CSS For Footer ::  */
.box{
  background-color: #3c3b3b;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.box1{
  color: white;
  background-color: red;
  padding: 10px;
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box1 h1{
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
  margin: 10px;
}

.box1 p{
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.box2{
  color: white;
  background-color: red;
  padding: 30px;
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons i{
  padding: 10px;
  margin: 10px;
  font-size: 30px;
}

.footerText{
  font-size: 15px;
  height: 20px;
  padding: 10px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
}
